body {
    font-family: Arial, sans-serif;
    background-color: #c1c1c1;
    margin: 0;
    padding: 20px;
}


grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

div {
    background-color: #ff0000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}